<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("book_share_icon.png", class:"book-icon"), "/" %>
      <%= form_with url: search_reviews_path, method: :get, class: "search-form" do %>
        <input name="query" class='input-keyword-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search_icon.png", class:"search-icon" %>
        </button>
        <%= select_tag :genre_id, options_for_select([['ジャンルから探す', nil]] + Genre.all.map { |genre| [genre.name, genre.id] }), { style: "width: 15vw; height: 5vh; border: solid black 1px; font-size: 14px; line-height: normal;" } %>
        <button class="search-button">
          <%= image_tag "search_icon.png", class:"search-icon" %>
        </button>
      <% end %>
      
  </div>
  <div class='nav'>
    <ul class='lists'>
      <% if user_signed_in?%>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %><li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete },class: "logout" %><li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>