<%= render partial:'shared/header' %>
<div class="main">
  <div class="hero">
    <h1>お気に入りの本をシェアしよう！</h1>
    <p>読了した本の感想を投稿して、他のユーザーと共有しましょう。</p>
    <%= link_to '今すぐ投稿', new_review_path, class: 'btn btn-primary' %>
  </div>

  <div class="review-content">
    <h2>新着投稿</h2>
      <div class="card-container">
        <ul>
          <% @reviews.each do |review| %>
            <li class='list'>
            <%= link_to review_path(review) do %>
            <div class="card">
              <%= image_tag review.image.variant(resize: '500x500'), class: "review-img" if review.image.attached? %>
              <div class="card-content">
                <h3><%= review.title %></h3>
                <p><%= review.author %></p>
                <p>ジャンル: <%= review.genre.name %></p>
                <p>タグ:<%= review.tag %></p>
                <p>評価: <%= review.evaluation.name %></p>
                <p><%= review.impression %></p>
              </div>
            </div>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>

<%= render partial:'shared/footer' %>