<%= render partial:'shared/header' %>
<div calss = "main">
  <div class="book-detail">
    <div class="book-image">
      <%= image_tag "sample-book-cover", alt: "book_title" %>
    </div>
    <div class="book-info">
      <h1><%= "@book.title" %></h1>
      <p>著者: <%= "@book.author" %></p>
      <div class="rating">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
      </div>
      <p><%= "@book.comment" %></p>
      <p>投稿者: <%= "@book.user.name" %></p>
    </div>
  </div>
</div>
<%= render partial:'shared/footer' %>