<%= render partial:'shared/header' %>

<div calss = "main">
  <div class="book-detail">
    <p>投稿者: <%= @review.user.nickname %></p>
    <div class="book-image">
      <%= image_tag @review.image, alt: "book_title" %>
    </div>
    <div class="book-info">
      <h1><%= @review.title %></h1>
      <p>著者: <%= @review.author %></p>
      <p><%= @review.evaluation.name %></p>
      <p><%= @review.impression %></p>

    </div>
  </div>
</div>

<%= render partial:'shared/footer' %>